<%
title t('.page_title')
%>
<main class="content content--user-auth" role="main">
  <div class="wrapper">
    <section class="user-auth">
      <header class="user-auth__header">
        <h1 class="title"><%= t '.login' %></h1>
      </header>
    
      <%= bulma_form_for :login do |f| %>
        <%= f.field :email do %>
          <%= f.label      :email %>
          <%= f.text_field :email, input_html: { autofocus: true } %>
        <% end %>
        
        <%= f.field :password do %>
          <%= f.label          :password %>
          <%= f.password_field :password, input_html: { autofocus: true } %>
        <% end %>
        
        <div class="actions">
          <%= f.submit_or_reset %>
          <%= link_to t('.forgot_password'), forgot_password_path, class: 'forgot-password' %>
        </div>
      <% end %>
    </section>
  </div>
</main>
