<%
title t('.page_title', game: @game.title)
%>

<div class="player-view">
  <div class="player-view__canvas">
    <%= render 'games/sessions/context_square' %>

    <% if @map && @floor %>
      <%=
        render '/map/displayer', game: @game, map: @map, active_floor: @floor
      %>
    <% end %>
  </div>

  <div class="player-view__players">
    <%= render 'games/sessions/players', players: @game.players %>
  </div>

  <div class="player-view__sidebar" data-controller="sidebar-tabs">
    <div class="sidebar__tab-options">
      <ul>
        <li>
          <%=
            link_to t('.chat'), '#player_chat_pane',
              class: 'is-active',
              data:  {
                target:     'sidebar-tabs.tab',
                tab_target: 'player-chat',
                action:     'click->sidebar-tabs#switchTab'
              }
          %>
        </li>
        <li>
          <%=
            link_to t('.compendium'), '#compendium_pane',
              data:  {
                target:     'sidebar-tabs.tab',
                tab_target: 'compendium',
                action:     'click->sidebar-tabs#switchTab'
              }
          %>
        </li>
      </ul>
    </div>

    <div class="sidebar__tabs">
      <%= render 'chat',      session:   @session   %>
      <%= render 'compendia', compendia: @compendia %>
    </div>
  </div>
</div>
