<%
title t('.page_title', game: @game.title)
%>

<div class="player-view">
  <div class="player-view__canvas">
    <%= render 'games/sessions/context_square' %>
    
    <% if @map && @floor %>
      <%=
        render '/map/displayer', game: @game, map: @map, active_floor: @floor
      %>
    <% end %>
  </div>
  
  <div class="player-view__players">
    <%= render 'games/sessions/players', players: @game.players %>
  </div>
  
  <div class="player-view__sidebar">
    <div class="sidebar__tabs">
      <ul>
        <li><a href="#">Compendium</a></li>
        <li class="tabs__active"><a href="#">Chat</a></li>
      </ul>
    </div>
    
    <!--
    <div class="sidebar__compendium">
      
    </div>
    -->
    
    <div class="sidebar__player-chat" data-controller="text-chat" data-text-chat-game-session-id="<%= @session.id %>">
      <%=
        render 'games/chat_messages/chat_log',
          session:  @session,
          messages: @session.chat_messages
      %>
      
      <div class="player-chat__input" id="new_message">
        <%= render 'games/chat_messages/form', session: @session %>
      </div>
    </div>
  </div>
</div>
