<%
title t('.page_title', game: @game.title)
%>

<div class="player-view">
  <div class="player-view__canvas">
    <% if @map && @floor %>
      <%=
        render '/map/displayer', game: @game, map: @map, active_floor: @floor
      %>
    <% end %>
  </div>
  
  <div class="player-view__players" data-controller="text-chat" data-text-chat-game-session-id="<%= @session.id %>">
    <%= render 'games/sessions/context_square' %>
    <%= render 'games/sessions/players',   players: @game.players %>
  </div>
  
  <div class="player-view__sidebar">
    Sidebar
    
    <div class="sidebar__player-chat">
      <%=
        render 'games/chat_messages/chat_log',
          session:  @session,
          messages: @session.chat_messages
      %>
      
      <div class="player-chat__input" id="new_message">
        <%= render 'games/chat_messages/form', session: @session %>
      </div>
    </div>
  </div>
</div>
