<%= bulma_form_for compendium, html: { multipart: true } do |f| %>
  <%= f.field :title do %>
    <%= f.label      :title %>
    <%= f.text_field :title %>
    <%= f.errors     :title %>
  <% end %>
  
  <%= f.field :description, control: { data: { controller: 'html-editor' } } do %>
    <%= f.label     :description %>
    <%= content_tag :div, '',     data: { target: 'html-editor.editor' } %>
    <%= f.text_area :description, data: { target: 'html-editor.input'  } %>
    <%= f.errors    :description %>
  <% end %>
  
  <%= f.field :cover, control: { data: { controller: 'image-upload' } } do %>
    <label style="display: block;" data-target="image-upload.dropzone">
      <%= content_tag    :div,      data: { target: 'image-upload.preview' } do %>
        <%= image_tag compendium.cover.variant(resize_to_fit: [200, 200]) if compendium.cover.attached? %>
      <% end %>
    
      <div data-target="image-upload.progressBar">
        <div data-target="image-upload.progress"></div>
      </div>
      
      <%= f.file_field :cover, data: { target: 'image-upload.input', action: 'change->image-upload#upload' },
                               direct_upload: true,
                               accept: 'image/*' %>
    </label>
    <%= f.errors       :cover %>
  <% end %>
  
  <%= f.field :public do %>
    <%= f.check_box :public %>
    <%= f.label     :public %>
    <%= f.errors    :public %>
  <% end %>
  
  <%= f.submit_or_reset %>
<% end %>
