<main class="content content--compendium" role="main">
  <div class="wrapper">
    <section class="block block--compendium">
      <header class="block__header">
        <h2>
          <%= @compendium.title %>
        </h2>

        <div class="block__actions">
          <% if current_user == @compendium.author %>
            <%=
              link_to t('.edit_compendium'), [:edit, @compendium],
                class: 'button is-link is-outlined'
            %>
          <% end %>
          
          <% if current_user == @compendium.author %>
            <%=
              link_to t('.destroy_compendium'), @compendium,
                class: 'button is-danger',
                data:  {
                  method:  :delete,
                  confirm: t('.confirm_compendium_destruction')
                }
            %>
          <% end %>
        </div>
      </header>
      
      <div class="block__content">
        <%= @compendium.description_html %>
      </div>
    </section>
    
    <section class="block block--maps">
      <header class="block__header">
        <h2>
          <%= t '.maps' %>
        </h2>
        
        <div class="block__actions">
          <% if current_user == @compendium.author %>
            <%=
              link_to t('.new_map'), new_compendium_map_path(@compendium),
                class: 'button is-link is-outlined'
            %>
          <% end %>
        </div>
      </header>
      
      <div class="block__content">
        <% if @maps.present? %>
          <ul>
            <%= render partial: 'map', collection: @maps %>
          </ul>
        <% else %>
          <p><%= t '.no_maps_available' %></p>
        <% end %>
      </div>
    </section>
    
    <section class="block block--pages">
      <header class="block__header">
        <h2>
          <%= t '.pages' %>
        </h2>
        
        <div class="block__actions">
          <% if current_user == @compendium.author %>
            <%=
              link_to t('.new_page'), new_compendium_page_path(@compendium),
                class: 'button is-link is-outlined'
            %>
          <% end %>
        </div>
      </header>
      
      <div class="block__content">
        <% if @pages.present? %>
          <ul>
            <%= render partial: 'page', collection: @pages %>
          </ul>
        <% else %>
          <p><%= t '.no_pages_available' %></p>
        <% end %>
      </div>
    </section>
  </div>
</main>
