<main class="content content--compendium" role="main">
  <div class="wrapper">
    <section class="compendium-description">
      <header class="compendium-description__header">
        <h2>
          <%= @compendium.title %>
        </h2>
        
        <% if current_user == @compendium.author %>
          <div class="compendium-description__actions">
            <ul>
              <li>
                <%=
                  link_to t('.edit_compendium'), [:edit, @compendium],
                    class: 'button is-link is-outlined'
                %>
              </li>
              
              <li>
                <%=
                  link_to t('.destroy_compendium'), @compendium,
                    class: 'button is-danger',
                    data:  {
                      method:  :delete,
                      confirm: t('.confirm_compendium_destruction')
                    }
                %>
              </li>
            </ul>
          </div>
        <% end %>
      </header>
      
      <div class="compendium-description__content">
        <% if @compendium.cover.attached? %>
          <%= image_tag url_for(@compendium.cover) %>
        <% end %>
        
        <%= @compendium.description_html %>
      </div>
    </section>
    
    <section class="compendium-maps">
      <header class="compendium-maps__header">
        <h2>
          <%= t '.maps' %>
        </h2>
        
        <% if current_user == @compendium.author %>
          <div class="compendium-maps__actions">
            <ul>
              <li>
                <%=
                  link_to t('.new_map'), new_compendium_map_path(@compendium),
                    class: 'button is-link is-outlined'
                %>
              </li>
            </ul>
          </div>
        <% end %>
      </header>
      
      <div class="compendium-maps__content">
        <% if @maps.present? %>
          <ul>
            <%= render partial: 'map', collection: @maps %>
          </ul>
        <% else %>
          <p><%= t '.no_maps_available' %></p>
        <% end %>
      </div>
    </section>
    
    <section class="compendium-pages">
      <header class="compendium-pages__header">
        <h2>
          <%= t '.pages' %>
        </h2>
        
        <% if current_user == @compendium.author %>
          <div class="compendium-pages__actions">
            <ul>
              <li>
                <%=
                  link_to t('.new_page'), new_compendium_page_path(@compendium),
                    class: 'button is-link is-outlined'
                %>
              </li>
            </ul>
          </div>
        <% end %>
      </header>
      
      <div class="compendium-pages__content">
        <% if @pages.present? %>
          <ul>
            <%= render partial: 'page', collection: @pages %>
          </ul>
        <% else %>
          <p><%= t '.no_pages_available' %></p>
        <% end %>
      </div>
    </section>
  </div>
</main>
