<%
if character.persisted?
  form_title = t '.edit_character'
  form_url   = map_character_path(map, character)
else
  form_title = t '.new_character'
  form_url   = map_characters_path(map)
end
%>
<%= bulma_form_for character, url: form_url do |f| %>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"><%= form_title %></p>
      <button class="delete" aria-label="close" data-action="click->modal#close"></button>
    </header>
    
    <section class="modal-card-body">
      <%= f.field :name do %>
        <%= f.label      :name %>
        <%= f.text_field :name %>
        <%= f.errors     :name %>
      <% end %>
      
      <%= f.field :image do %>
        <%= f.label      :image %>
        <%= f.file_field :image %>
        <%= f.errors     :image %>
      <% end %>
      
      <%= f.field :floor_id do %>
        <%= f.label  :floor_id %>
        <%= f.select :floor_id, @map.floors.map { |f| [f.title, f.id] } %>
        <%= f.errors :floor_id %>
      <% end %>
      
      <div class="columns">
        <div class="column">
          <%= f.field :width do %>
            <%= f.label        :width %>
            <%= f.number_field :width %>
            <%= f.errors       :width %>
          <% end %>
        </div>
        <div class="column">
          <%= f.field :height do %>
            <%= f.label        :height %>
            <%= f.number_field :height %>
            <%= f.errors       :height %>
          <% end %>
        </div>
      </div>
      
      <div class="columns">
        <div class="column">
          <%= f.field :x do %>
            <%= f.label        :x %>
            <%= f.number_field :x %>
            <%= f.errors       :x %>
          <% end %>
        </div>
        <div class="column">
          <%= f.field :y do %>
            <%= f.label        :y %>
            <%= f.number_field :y %>
            <%= f.errors       :y %>
          <% end %>
        </div>
      </div>
      
      <%= f.field :light_color do %>
        <%= f.label       :light_color %>
        <%= f.color_field :light_color %>
        <%= f.errors      :light_color %>
      <% end %>
    
      <div class="level">
        <div class="level-item">
          <%= f.field :dim_light_radius do %>
            <%= f.label        :dim_light_radius %>
            <%= f.number_field :dim_light_radius, data: { target: 'form--map-character.dimLightRadius' } %>
            <%= f.errors       :dim_light_radius %>
          <% end %>
        </div>
        <div class="level-item">
          <%= f.field :light_radius do %>
            <%= f.label        :light_radius %>
            <%= f.number_field :light_radius, data: { target: 'form--map-character.lightRadius' } %>
            <%= f.errors       :light_radius %>
          <% end %>
        </div>
      </div>
    </section>
    
    <footer class="modal-card-foot">
      <%= f.button t('.submit'), type: 'submit', class: 'button is-success' %>
      <%= f.button t('.cancel'), type: 'reset',  class: 'button is-text', data: { action: 'click->modal#close' }%>
    </footer>
  </div>
<% end %>
