<%
if area.persisted?
  form_title = t '.edit_area'
  form_url   = map_area_path(map, area)
else
  form_title = t '.new_area'
  form_url   = map_areas_path(map)
end
%>
<%= bulma_form_for area, url: form_url do |f| %>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"><%= form_title %></p>
      <button class="delete" aria-label="close" data-action="click->modal#close"></button>
    </header>
    
    <section class="modal-card-body">
      <%= f.field :title do %>
        <%= f.label      :title %>
        <%= f.text_field :title %>
        <%= f.errors     :title %>
      <% end %>
      
      <%= f.field :short_code do %>
        <%= f.label      :short_code %>
        <%= f.text_field :short_code %>
        <%= f.errors     :short_code %>
      <% end %>
      
      <%= f.field :floor_id do %>
        <%= f.label  :floor_id %>
        <%= f.select :floor_id, @map.floors.map { |f| [f.title, f.id] } %>
        <%= f.errors :floor_id %>
      <% end %>
      
      <div class="columns">
        <div class="column">
          <%= f.field :x do %>
            <%= f.label        :x %>
            <%= f.number_field :x %>
            <%= f.errors       :x %>
          <% end %>
        </div>
        <div class="column">
          <%= f.field :y do %>
            <%= f.label        :y %>
            <%= f.number_field :y %>
            <%= f.errors       :y %>
          <% end %>
        </div>
      </div>
      
      <%= f.field :bounds_json do %>
        <%= f.label     :bounds_json %>
        <%= f.text_area :bounds_json %>
        <%= f.errors    :bounds_json %>
      <% end %>
    </section>
    
    <footer class="modal-card-foot">
      <%= f.button t('.submit'), type: 'submit', class: 'button is-success' %>
      <%= f.button t('.cancel'), type: 'reset',  class: 'button is-text', data: { action: 'click->modal#close' }%>
    </footer>
  </div>
<% end %>
