<div class="columns is-gapless">
  <div class="column is-full-mobile is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
    <div data-controller="video-chat">
      <ol>
        <% @game.players.each do |player| %>
          <% if player.user == current_user %>
            <li data-target="video-chat.host" data-participant-id="<%= player.id %>">
              <strong><%= current_user.name %></strong>
              <a data-action="click->video-chat#join">join</a>
              <a data-action="click->video-chat#leave">leave</a>
              <video autoplay playsinline></video>
            </li>
          <% else %>
            <li data-target="video-chat.participant" data-participant-id="<%= player.id %>">
              <em><%= player.user.name %></em>
              <video autoplay playsinline></video>
            </li>
          <% end %>
        <% end %>
      </ol>
    </div>
  </div>
  
  <div class="column">
    <%=
      render 'map/displayer', game: @game, map: @map, active_floor: @active_floor
    %>
  </div>
</div>
