<%
background ||= local_assigns[:background_panel]
floor      ||= background.floor
map        ||= background.map

if background.persisted?
  form_url = map_background_path(map, background)
else
  form_url   = map_backgrounds_path(map)
end

form_data = {
  controller: 'form--map-background',
  action:     'change->form--map-background#formChanged',
  form__map_background_map_background: dom_id(background)
}
%>
<nav class="panel" id="<%= dom_id(background, :panel) %>" data-controller="map--panel">
  <div class="panel__heading">
    <%=
      link_to floor.title, "##{dom_id(floor, :panel)}",
        class: 'panel__back',
        data: {
          action: 'click->map--panel#openPanel'
        }
    %>
  </div>
  
  <div class="panel__content">
    <span class="content__name">
      <%= background.filename %>
    </span>
    
    <%= bulma_form_for background, url: form_url, html: { data: form_data } do |f| %>
      <%= f.field :image do %>
        <%= f.label      :image %>
        <%= f.file_field :image %>
        <%= f.errors     :image %>
      <% end %>
      
      <%= f.field :width do %>
        <%= f.label        :width %>
        <%= f.number_field :width, data: { target: 'form--map-background.width' } %>
        <%= f.errors       :width %>
      <% end %>
      
      <%= f.field :height do %>
        <%= f.label        :height %>
        <%= f.number_field :height, data: { target: 'form--map-background.height' } %>
        <%= f.errors       :height %>
      <% end %>
      
      <%= f.field :x do %>
        <%= f.label        :x %>
        <%= f.number_field :x, data: { target: 'form--map-background.x' } %>
        <%= f.errors       :x %>
      <% end %>
      
      <%= f.field :y do %>
        <%= f.label        :y %>
        <%= f.number_field :y, data: { target: 'form--map-background.y' } %>
        <%= f.errors       :y %>
      <% end %>
      
      <%= f.submit_or_reset %>
    <% end %>
  </div>
</nav>
