<%
background ||= local_assigns[:background_panel]
map        ||= background.map

if background.persisted?
  form_url = map_background_path(map, background)
else
  form_url   = map_backgrounds_path(map)
end

form_data = {
  controller: 'form--map-background',
  action:     'change->form--map-background#formChanged',
  form__map_background_map_background: dom_id(background)
}
%>
<nav class="panel" id="<%= dom_id(background, :panel) %>" data-controller="map--panel">
  <div class="panel-heading">
    <%=
      link_to '<', "##{dom_id(background.floor, :panel)}",
        class: 'button is-small is-link is-outlined',
        data: {
          action: 'click->map--panel#openPanel'
        }
    %>
    <%= background.filename %>
    <%=
      link_to t('.edit'),
        edit_map_background_path(background.map, background),
        class: 'button is-small',
        data: { remote: true }
    %>
  </div>
  <%= bulma_form_for background, url: form_url, html: { class: 'panel-block', data: form_data } do |f| %>
    <%= f.field :image do %>
      <%= f.label      :image %>
      <%= f.file_field :image %>
      <%= f.errors     :image %>
    <% end %>
    
    <div class="level">
      <div class="level-item">
        <%= f.field :width do %>
          <%= f.label        :width %>
          <%= f.number_field :width, data: { target: 'form--map-background.width' } %>
          <%= f.errors       :width %>
        <% end %>
      </div>
      <div class="level-item">
        <%= f.field :height do %>
          <%= f.label        :height %>
          <%= f.number_field :height, data: { target: 'form--map-background.height' } %>
          <%= f.errors       :height %>
        <% end %>
      </div>
    </div>
    
    <div class="level">
      <div class="level-item">
        <%= f.field :x do %>
          <%= f.label        :x %>
          <%= f.number_field :x, data: { target: 'form--map-background.x' } %>
          <%= f.errors       :x %>
        <% end %>
      </div>
      <div class="level-item">
        <%= f.field :y do %>
          <%= f.label        :y %>
          <%= f.number_field :y, data: { target: 'form--map-background.y' } %>
          <%= f.errors       :y %>
        <% end %>
      </div>
    </div>
    
    <%= f.submit_or_reset %>
  <% end %>
</nav>
