<section class="games-overview">
  <header class="games-overview__header">
    <h2>
      <%= t '.games' %>
    </h2>
    
    <div class="games-overview__actions">
      <ul>
        <li>
          <%= link_to t('.create_new_game'), new_game_path, class: 'button' %>          
        </li>
      </ul>
    </div>
  </header>
  
  <div class="games-overview__content">
    <% if players.present? %>
      <ul>
        <% players.each do |play| %>
          <% game = play.game %>
          <li>
            <span class="info">
              <%= link_to game.title, game, class: 'title' %>
              <span class="role">
                <%= play.role %>
              </span>
            </span>
            <%= link_to t('.join_session'), play_path(game), class: 'button' %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p><%= t '.no_games_available' %></p>
    <% end %>
  </div>
</section>
