<div class="game-dashboard__players">
  <header>
    <h2>
      <%= t '.players' %>
    </h2>
  </header>
  
  <ul>
    <% players.each do |player| %>
      <li>
        <a href="#"><%= player.name %></a>
        <span class="role">
          <%= player.role %>
        </span>
      </li>
    <% end %>
  </ul>
  
  <% if current_player&.is_gm? %>
    <div class="players__invite">
      <strong>
        <%= t '.invite_link' %>
      </strong>
    
      <code>
        <%=
          link_to join_game_url(@game, @game.invite_code), join_game_path(@game, @game.invite_code) 
        %>
      </code>
    
      <%= bulma_form_with url: regenerate_invite_game_path(@game), method: 'DELETE', class: 'reset-invite-link', data: { remote: false } do |f| %>
        <%= hidden_field_tag :_method, 'DELETE' %>
        <%= f.submit t('.reset_invite_link') %>
      <% end %>
    
      <%= bulma_form_with url: send_invite_mail_game_path(@game), data: { remote: false } do |f| %>
        <%= f.fields :email do %>
          <%= f.label      :email %>
          <%= f.text_field :email %>
        <% end %>
        <%= f.submit t('.send_invite_link') %>
      <% end %>
    </div>
  <% end %>
</div>