<div class="game-dashboard__players">
  <header>
    <h2>
      <%= t '.players' %>
    </h2>
  </header>
  
  <ul>
    <% players.each do |player| %>
      <li>
        <a href="#"><%= player.name %></a>
        <span class="role">
          <%= player.role %>
        </span>
      </li>
    <% end %>
  </ul>
  
  <div class="players__invite">
    <strong>
      <%= t '.invite_link' %>
    </strong>
    
    <code><%= link_to edit_game_invitation_url(@game, @game.invite_code), edit_game_invitation_path(@game, @game.invite_code) %></code>
     <%= bulma_form_with url: game_invitations_path, data: { remote: false } do |f| %>
      <%= f.hidden_field :id, value: @game.id %>
      <%= f.submit "Reset activation link"%>
    <% end %>
      
  </div>
</div>