<div class="game-dashboard__players">
  <header>
    <h2>
      <%= t '.players' %>
    </h2>
  </header>
  
  <ul>
    <% players.each do |player| %>
      <li>
        <a href="#"><%= player.name %></a>
        <span class="role">
          <%= player.role %>
        </span>
      </li>
    <% end %>
  </ul>
  
  <div class="players__invite">
    <strong>
      <%= t '.invite_link' %>
    </strong>
    
    <code><%= link_to edit_game_invitation_url(@game, @game.invite_code), edit_game_invitation_path(@game, @game.invite_code) %></code>
    
    <%= bulma_form_with url: game_invitations_path , data: { remote: false } do |f| %>
      <%= f.hidden_field :id, value: @game.id %>
      <%= f.submit "Reset invitation link"%>
    <% end %>

    <%= bulma_form_with url: send_game_invite_path, data: { remote: false } do |f| %>
      <%= f.hidden_field :id, value: @game.id %>
      <%= f.fields :email do %>
        <%= f.label      :email %>
        <%= f.text_field :email %>
      <% end %>
      <%= f.submit "Send invitation link"%>
    <% end %>
  </div>
</div>