<%
title @game.title
%>
<main class="content content--single-game" role="main">
  <div class="wrapper">
    <div class="game-dashboard">
      <header class="game-dashboard__header">
        <h2>
          <%= @game.title %>
        </h2>
        
        <div class="game-description__actions">
          <ul>
            <li>
              <%=
                link_to t('.edit_game'), edit_game_path(@game),
                  class: 'button'
              %>
            </li>
            
            <% if current_user == @game.author %>
              <li>
                <%=
                  link_to t('.destroy_game'), game_path(@game),
                    class: 'button is-danger',
                    data:  {
                      method:  :delete,
                      confirm: t('.confirm_game_destruction')
                    }
                %>
              </li>
            <% end %>
            
            <li>
              <%=
                link_to t('.join_session'), play_path(@game),
                  class: 'button'
              %>
            </li>
          <ul>
        </div>
      </header>
    
      <div class="game-dashboard__content">
        <%= render 'players', players: @game.players %>
      
        <div class="game-dashboard__description">
          <header>
            <h2>
              <%= t '.description' %>
            </h2>
          </header>
          
          <%= @game.description_html %>
        </div>
        
        <div class="game-dashboard__maps">
          <header>
            <h2>
              <%= t '.maps' %>
            </h2>
          </header>
          
          <% if @maps.present? %>
            <ul>
              <% @maps.each do |map| %>
                <li><%= link_to map.title, map %></li>
              <% end %>
            </ul>
          <% else %>
            <p><%= t '.no_maps_available' %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
