<%
title @game.title
%>
<main class="content content--single-game" role="main">
  <div class="wrapper">
    <div class="game-dashboard">
      <header class="game-dashboard__header">
        <h2>
          <%= @game.title %>
        </h2>
        
        <div class="game-description__actions">
          <ul>
            <li>
              <%=
                link_to t('.edit_game'), edit_game_path(@game),
                  class: 'button'
              %>
            </li>
            
            <% if current_user == @game.author %>
              <li>
                <%=
                  link_to t('.destroy_game'), game_path(@game),
                    class: 'button is-danger',
                    data:  {
                      method:  :delete,
                      confirm: t('.confirm_game_destruction')
                    }
                %>
              </li>
            <% end %>
          <ul>
        </div>
      </header>
    
      <div class="game-dashboard__content">
        <%= render 'sessions',    game: @game, sessions: @game.sessions %>
        <%= render 'players',     game: @game, players:  @game.players %>
        <%= render 'description', game: @game %>
        <%= render 'maps',        game: @game, maps: @maps %>
      </div>
    </div>
  </div>
</main>
