<main class="content content--single-game" role="main">
  <div class="wrapper">
    <section class="game-description">
      <header class="game-description__header">
        <h2>
          <%= @game.title %>
        </h2>
        
        <div class="game-description__actions">
          <%=
            link_to t('.join_session'), play_path(@game),
              class: 'button is-link is-outlined'
          %>
          
          <% if current_user == @game.author %>
            <%=
              link_to t('.destroy_game'), game_path,
                class: 'button is-danger',
                data:  {
                  method:  :delete,
                  confirm: t('.confirm_game_destruction')
                }
            %>
          <% end %>
        </div>
      </header>
      
      <div class="game-description__content">
        <%= @game.description_html %>
      </div>
    </section>
    
    <section class="game-maps">
      <header class="game-maps__header">
        <h2>
          <%= t '.maps' %>
        </h2>
      </header>
      
      <div class="game-maps__content">
        <% if @maps.present? %>
          <ul>
            <% @maps.each do |map| %>
              <li><%= link_to map.title, map %></li>
            <% end %>
          </ul>
        <% else %>
          <p><%= t '.no_maps_available' %></p>
        <% end %>
      </div>
    </section>
  </div>
</main>
