<%
area  ||= local_assigns[:area_panel]
floor ||= area.floor
map   ||= area.map

if area.persisted?
  form_url = map_area_path(map, area)
else
  form_url = map_areas_path(map)
end

compendium = map.compendium
%>
<nav class="panel" id="<%= dom_id(area, :panel) %>" data-controller="panel">
  <div class="panel__heading">
    <%=
      link_to floor.title, "##{dom_id(area.floor, :panel)}",
        class: 'panel__back',
        data: {
          action: 'click->panel#openPanel'
        }
    %>
  </div>
  
  <div class="panel__content">
    <span class="content__name">
      <%= area.full_title %>
    </span>
    
    <%= bulma_form_for area, url: form_url do |f| %>
      <%= f.field :title do %>
        <%= f.label      :title %>
        <%= f.text_field :title %>
        <%= f.errors     :title %>
      <% end %>
      
      <%= f.field :short_code do %>
        <%= f.label      :short_code %>
        <%= f.text_field :short_code %>
        <%= f.errors     :short_code %>
      <% end %>
      
      <%= f.field :floor_id do %>
        <%= f.label  :floor_id %>
        <%= f.select :floor_id, @map.floors.map { |f| [f.title, f.id] } %>
        <%= f.errors :floor_id %>
      <% end %>
      
      <%= f.field :bounds_json do %>
        <%= f.label     :bounds_json %>
        <%= f.text_area :bounds_json %>
        <%= f.errors    :bounds_json %>
      <% end %>
      
      <%= f.field :page_ids do %>
        <%= f.label  :page_ids %>
        <%= f.select :page_ids, page_select_options(compendium.pages.without_parent),
                     { include_blank: true },
                     multiple: true %>
        <%= f.errors :page_ids %>
      <% end %>
      
      <%= f.submit_or_reset %>
    <% end %>
  </div>
</nav>
