<%
title t('.page_title')
%>
<section class="section">
  <div class="container">
    <h1 class="title"><%= t '.resend_activation_link' %></h1>
    <%= bulma_form_with url: account_activations_path, data: { remote: false } do |f| %>
      <%= f.field :email do %>
        <%= f.label      :email %>
        <%= f.text_field :email %>
      <% end %>
      
      <%= f.submit "Send activation link"%>
    <% end %>
  </div>
</section>