<div data-controller="dice-roller" data-action="click->dice-roller#roll">
  <h1>Rolled: <%= @roll %></h1>
  <p>Result: <strong><%= @result.to_s %></strong></p>
  <ul>
    <% @result.each do |section| %>
      <% case section %>
      <% when DiceBag::RollPart   %>
        <% section.tally.each do |result| %>
          <li data-target="dice-roller.dice" data-dice-sides="<%= section.sides %>" data-dice-result="<%= result %>">
            <strong>d<%= section.sides %>:</strong> <%= result %>
          </li>
        <% end %>
      <% when DiceBag::StaticPart %>
        <li><%= section.total %></li>
      <% end %>
    <% end %>
  </ul>
  
  <div data-target="dice-roller.canvas">
  </div>
</div>
