<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body data-controller="modal" data-target="modal.container">
    <%= render 'shared/main_navigation'                   %>
    <%= render 'shared/notice', message: notice if notice %>
    <%= render 'shared/alert',  message: alert  if alert  %>
    <%= yield %>
  </body>
</html>
