<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body data-controller="modal" data-target="modal.container">
    <nav class="main-navigation main-navigation--map" role="navigation" aria-label="main navigation">
      <span class="main-navigation__branding">
        <%= link_to 'Virtual Table', root_path %>
      </span>
      
      <!-- mockup -->
      <div class="main-navigation__map">
        <span class="map__name">
          Map name
        </span>
        
        <div class="faux-select" data-controller="faux-select">
          <a class="faux-select__current" href="#" data-action="click->faux-select#toggleOptions click@window->faux-select#hideOptions">
            <span data-target="faux-select.current"></span>
          </a>
        
          <div class="faux-select__dropdown">
            <ul class="dropdown__options">
              <li>
                <a href="#" class="options__single" data-target="faux-select.option" data-action="click->faux-select#selectOption">
                  Floor name
                </a>
                <a href="#" class="options__action">
                  Edit
                </a>
              </li>
              <li>
                <a href="#" class="options__single" data-target="faux-select.option" data-action="click->faux-select#selectOption">
                  Floor name
                </a>
                <a href="#" class="options__action">
                  Edit
                </a>
              </li>
              <li>
                <a href="#" class="options__single" data-target="faux-select.option" data-action="click->faux-select#selectOption">
                  Floor name
                </a>
                <a href="#" class="options__action">
                  Edit
                </a>
              </li>
              <li>
                <a href="#" class="options__single" data-target="faux-select.option" data-action="click->faux-select#selectOption">
                  Floor name
                </a>
                <a href="#" class="options__action">
                  Edit
                </a>
              </li>
            </ul>
            
            <ul class="dropdown__actions">
              <li>
                <a href="#" class="button button--orange">New floor</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /mockup -->
      
      <ul class="main-navigation__items">
        <% if logged_in? %>
          <li class="main-navigation__item">
            <%= link_to t('.compendia'), compendia_path %>
            <ul class="main-navigation__dropdown">
              <% current_user.compendia.each do |compendium| %>
                <li class="main-navigation__item">
                  <%= link_to compendium.title, compendium %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="main-navigation__item">
            <%= link_to t('.games'), games_path %>
            <ul class="main-navigation__dropdown">
              <% current_user.games.each do |game| %>
                <li class="main-navigation__item">
                  <%= link_to game.title, game %>
                </li>
              <% end %>
              <li class="main-navigation__item">
                <%= link_to t('.new_game'), new_game_path %>
              </li>
            </ul>
          </li>
          <li class="main-navigation__item">
            <%= link_to t('.logout'), logout_path, data: { method: :delete } %>
          </li>
        <% else %>
          <li class="main-navigation__item">
            <%= link_to t('.signup'), new_user_path %>
          </li>
          <li class="main-navigation__item">
            <%= link_to t('.login'), login_path %>
          </li>
        <% end %>
      </ul>
    </nav>
    
    <%= render 'shared/notice', message: notice if notice %>
    <%= render 'shared/alert',  message: alert  if alert  %>
    
    <%= yield %>
  </body>
</html>
