<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Virtual Table</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body data-controller="modal" data-target="modal.container">
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to 'Virtual Table', root_path, class: 'navbar-item' %>
        
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        </div>
        
        <div class="navbar-end">
          <% if logged_in? %>
            <div class="navbar-item has-dropdown is-hoverable">
              <%= link_to t('.games'), games_path, class: 'navbar-link' %>
              
              <div class="navbar-dropdown">
                <% current_user.games.each do |game| %>
                  <%= link_to game.title, game, class: 'navbar-item' %>
                <% end %>
                <hr class="navbar-divider">
                <%= link_to t('.new_game'), new_game_path, class: 'navbar-item' %>
              </div>
            </div>
          <% end %>
          
          <div class="navbar-item">
            <div class="buttons">
              <% if logged_in? %>
                <%= link_to t('.logout'), logout_path, class: 'button is-light', data: { method: :delete } %>
              <% else %>
                <%= link_to new_user_path, class: 'button is-primary' do %>
                  <strong><%= t '.signup' %></strong>
                <% end %>
                <%= link_to t('.login'), login_path, class: 'button is-light' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    
    <%= render 'shared/notice', message: notice if notice %>
    <%= render 'shared/alert',  message: alert  if alert  %>
    
    <%= yield %>
  </body>
</html>
