<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Virtual Table</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body data-controller="modal" data-target="modal.container">
    <nav class="main-navigation" role="navigation" aria-label="main navigation">
      <span class="main-navigation__branding">
        <%= link_to 'Virtual Table', root_path %>
      </span>
      
      <ul class="main-navigation__items">
        <% if logged_in? %>
          <li class="main-navigation__item">
            <%= link_to t('.games'), games_path %>
            
            <ul class="main-navigation__dropdown">
              <% current_user.games.each do |game| %>
                <li class="main-navigation__item">
                  <%= link_to game.title, game %>
                </li>
              <% end %>
              <li class="main-navigation__item">
                <%= link_to t('.new_game'), new_game_path %>
              </li>
            </ul>
          </li>
          <li class="main-navigation__item">
            <%= link_to t('.logout'), logout_path, data: { method: :delete } %>
          </li>
        <% else %>
          <li class="main-navigation__item">
            <%= link_to t('.signup'), new_user_path %>
          </li>
          <li class="main-navigation__item">
            <%= link_to t('.login'), login_path %>
          </li>
        <% end %>
      </ul>
    </nav>
    
    <%= render 'shared/notice', message: notice if notice %>
    <%= render 'shared/alert',  message: alert  if alert  %>
    
    <%= yield %>
  </body>
</html>
